@import "main_page_style";
@import "input_button_style";
@import "pages_style";

@include table-style();
.form-container {
  border: 2px solid #443d38;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;

  .form-field > div {
    margin: 5px;
    select {
      width: auto;
      max-width: max-content;
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;
      background-color: $Body;
      color: $font;
      appearance: none;

      &:hover {
        border-color: $hover;
      }

      &:focus {
        outline: none;
      }
    }

    select option {
      padding: 10px;
      font-size: 16px;
      background-color: $items;
      color: $font;
      &:hover {
        border-color: $hover;
      }

    }
    > input[type="text"] {
      @include input-focus($border-color);
      &:focus {
        background: none !important;
      }
    }
    input[type="number"]{
      border: 1px solid #443d38;
      width: 50%;
      border-radius: 3px;
      &:focus{
        border: 1px solid #443d38;
        outline: none;
      }
    }
    textarea {
      border: none;
      border-bottom: 2px solid #443d38;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border-radius: 3px;
      resize: none;
      background: none !important;
      &:focus {
        border-bottom: 2px solid #443d38;
        outline: none;
      }
    }
  }


}
button {
  @include button-style($primary-bg, $secondary-bg, $border-color, $text-color);
}
.content {
  width: 100%!important;
}