@import "main_page_style";
@import "input_button_style";

.cart-container {
  border: 3px solid $border-color !important;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .products{
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: auto;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            font-weight: bold;
            margin-bottom: 10px;
          }
          img {
            max-width: 100px;
          }
        }
    }

      .finale {
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
        }
        a {
          @include button-style($primary-bg, $secondary-bg, $border-color, $font);
        }
      }

  }
}
.content {
  width: 50% !important;
}
