@mixin page-styles($backgroundColor, $itemsColor, $hoverColor, $fontColor, $imgFilter) {
  body {
    background: $backgroundColor !important;
    color: $fontColor !important;
  }

  .navbar {
    background-color: $itemsColor;

    .container-fluid .navbar-brand {
      color: $fontColor !important;
    }
  }

  .nav-item {
    &:hover {
      background-color: fade-out($hoverColor, 0.40);
      border-radius: 7px;
    }

    .dropdown-menu {
      background-color: $hoverColor;
      border: darken($hoverColor, 5%);

      .dropdown-item {
        &:hover,
        &:focus,
        &:active {
          background-color: $itemsColor;
        }
      }
    }

    img {
      filter: invert($imgFilter);
    }
  }

  .nav-link.active,
  .dropdown-item {
    color: $fontColor !important;
  }

  .footer {
    background-color: fade-out($itemsColor, 0.20);
  }

  .card {
    .card-body {
      background: $fontColor;

      a {
        background-color: $itemsColor;
      }
    }

    .carousel .carousel-inner {
      border-radius: 5px 5px 0 0;
    }
  }
}
