@mixin page-styles($backgroundColor, $itemsColor, $hoverColor, $fontColor, $imgFilter) {
  body {
    background: $backgroundColor !important;
    color: $fontColor !important;
  }

  .navbar {
    background-color: $itemsColor;

    .container-fluid .navbar-brand {
      color: $fontColor !important;
    }
  }

  .nav-item {
    &:hover {
      background-color: fade-out($hoverColor, 0.40);
      border-radius: 7px;
    }

    .dropdown-menu {
      background-color: $hoverColor;
      border: darken($hoverColor, 5%);

      .dropdown-item {
        &:hover,
        &:focus,
        &:active {
          background-color: $itemsColor;
        }
      }
    }

    img {
      filter: invert($imgFilter);
    }
  }

  .nav-link.active,
  .dropdown-item {
    color: $fontColor !important;
  }

  .footer {
    background-color: fade-out($itemsColor, 0.20);
  }

  .card {
    .card-body {
      background: mintcream ;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        background-color: $hoverColor;
      }
    }

    .carousel .carousel-inner {
      border-radius: 5px 5px 0 0;
    }
    .card-text{
      font-size: 1rem;
      max-height: 10rem;
      overflow-y: auto;
      text-align: center;
      padding: 0.5rem;
    }
    .card-text::-webkit-scrollbar {
      width: 8px;
    }
    .card-text::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }
    .card-text::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    .card-text::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
