@import "main_page_style";
@import "input_button_style";
@import "pages_style";

.active-li{
  background: $primary-bg;
  padding: 10px;
  border-radius: 3px;
}
.card-header {
  background-color: #866860;
  color: #000;
}

.card {
  background-color: transparent !important;
}

.card-body {
  color: #000;
}

.comments .card-body {
  h5,
  p {
    text-align: start;
  }
}

.product-container {
  border: 3px solid $border-color !important;
  border-radius: 10px;
  display: flex;

  .description-container {
    flex: 1;
    margin: auto;
    display: flex;
    align-content: center;
    height: 100%;

    .description {
      table {
        --bs-table-bg: none !important;

        tbody,
        td,
        tr {
          border: none !important;

          button {
            @include button-style($primary-bg, $secondary-bg, $border-color, $font);
          }
        }

        .quantity {
          display: none;
          width: 100%;
          input[type="number"]{
            border: 1px solid #443d38;
            width: 50%;
            border-radius: 3px;
            &:focus{
              border: 1px solid #443d38;
              outline: none;
            }
          }
        }

        tbody > tr > td:nth-child(odd) {
          font-weight: bold;
        }

        .sizes > ul {
          padding: 0;
          list-style: none;
          display: flex;

          li {
            flex-direction: column;
            margin-left: 20px;
            &:not(.no-hover):hover {
              background: $primary-bg;
              padding: 10px;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}

.add-comment .card-body .form {
  .row {
    margin-bottom: 16px;
    display: flex;
    padding: 20px;
  }

  label {
    font-weight: bold;
  }

  textarea {
    border: none;
    border-bottom: 2px solid #443d38;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: $primary-bg;
    border-radius: 3px;
    resize: none;
    &:focus {
      border-bottom: 2px solid #443d38;
      outline: none;
    }
  }
  input[type="range"] {
    width: min-content;
    cursor: pointer;
    height: 8px;
    border-radius: 4px;
    background: #f6f5f2;
    outline: none;
    transition: background 0.2s;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #443d38;
      cursor: pointer;
    }
  }

  output {
    display: block;
    margin-top: 8px;
    font-weight: bold;
  }

  button {
    @include button-style($primary-bg, $secondary-bg, $border-color, $font);
    width: 145px;
    height: max-content;
  }
}
