@import "form_style";
.menu-container {
  display: flex;
  flex-direction: row;

  .user-menu-items {
    text-align: center;
  }

  .user-menu {
    align-self: center;
    margin-right: 10px;

    a {
      background: $primary-bg;
      border: 1px solid darken($border-color, 20%);
      color: $text-color;
      text-decoration: none;
      padding: 10px;
      display: block;
      margin-bottom: 5px;
      border-radius: 5px;
      transition: background 0.3s, color 0.3s;

      &:hover {
        background: $secondary-bg;
      }

      &.active {
        background: $hover-bg;
      }
    }
  }
}
@include table-style();



